<section class="pt-44">
  <div class="max-w-screen-xl mx-auto grid sm-grid-cols-1 md:grid-cols-2">
    <div class="my-auto">
      <h1 class="text-4xl mb-4 text-violet-500 font-bold leading-10">
        {{ heroData.title }}
      </h1>
      <h4 class="text-slate-600 mt-5">
        {{ heroData.description }}
      </h4>

      <div class="w-40 mt-5">
        <a
          href="#"
          class="tracking-wide text-center font-bold text-white text-sm text-nowrap bg-cyan-600 hover:bg-blue-600 px-6 py-4 rounded-md flex"
        >
          Online Dienste
        </a>
      </div>
    </div>

    <div>
      <img [src]="heroData.image" class="mx-auto" alt="" />
    </div>
  </div>
</section>
